.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.nice-blue-text{
	color: #32a1e6;
}
.center-div{
	width:59px;
	height: 34px;
	margin: 0 auto;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.no-list-style{
	list-style: none;
}

.full-screen{
	position: fixed;
	width: 110%;
	height: 110%;
	opacity: 0.5;
	z-index: 1000;
	margin-left: -33%;
	margin-top: -10%;
	background-color: black;
}
.loading-box{
	width: 500px;
	height: 200px;
	margin: 15% 6.5%;
	opacity: 1;
	position: absolute;
	background: white;
	z-index: 1001;
}

.tall-list{
	height: 115px;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #cbcbcb;
	border-radius: 0px 8px 8px 8px;
}
.toggle{
	float:right;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.device-title{
	width: 100%;
	height: 50px;
	font-size: 15px;
	margin-top: -5px;
	color: #323232;
}
.left-container-for-list{
	width: 160px;
	float: left;
}
.center-left-container-for-list{
	width: 250px;
	float: left;
}
.device-list-header{
	height: 50px;
	margin-bottom: 10px;
}
.add-button{
	width: 120px;
	float: right;
}
.badge-important {
    background-color: red;
}
.var_list_container{
	margin-bottom: 20px;
}
.single_var_element{
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;	
}
.small-input{
	margin-right: 10px;
	width: 165px;
}
.margin-bottom{
	margin-bottom: 20px;
}
.margin-right{
	margin-right: 20px;
}
.margin-top{
	margin-top: 10px;
}
.alert-box{
	width: 100%;
	height: 100px;
	margin: 20px 0px;
}
.device-select{
	margin-bottom: 20px;
}
.status-message{
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	width: 200px;
}
.large-button{
	width: 300px;
}
.button-message-block{
	display: inline-block;
	width: 100%;
}
.button-message-item{
	display: inline;
}
.type-tag{
	position: absolute;
	margin-top: -21px;
	margin-left: -6px;
}
.super{
	font-size: 40px;
	vertical-align: super;
}
.circle{
	width: 140px;
	height: 140px;
	margin: 0 auto;
	color: white;
	border-radius: 0px;
}
.home-title{
	margin: 0 auto;
	width: 400px;
	color: #484848;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.logo-text{
	font-size: 65px;
	font-weight: bold;
	background: #ff4242;
	height: 140px;
	width: 140px;
	padding-top: 20px;
	border-radius: 70px;
	text-align: center;
}
#list-button-centered{
	width: 198px;
	margin: 0 auto;
}
.main-page{
	height: 700px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
