<div class="device-list-header">
	<div class="float-left" style="font-size:30px;"><b>New Device</b></div>
	<button type="button" class="btn btn-success add-button" ng-click="createDeviceInInternalServer()"><b>Save +</b></button>
</div>

<div class="form-group">
  <label for="device_tag">Device Tag:</label>
  <input type="text" class="form-control" id="device_tag" ng-model="dataModel.device_tag">
</div>
<div class="form-group">
  <label for="device_address">Device Address:</label>
  <input type="text" class="form-control" id="device_address" ng-model="dataModel.device_address">
</div>
<div class="form-group">
  <label for="gateway_tag">Gateway Tag:</label>
  <input type="text" class="form-control" id="gateway_tag" ng-model="dataModel.gateway_tag">
</div>
<div class="form-group">
  <label for="gateway_address">Gateway Address:</label>
  <input type="text" class="form-control" id="gateway_address" ng-model="dataModel.gateway_address">
</div>
<div class="form-group">
  <label for="network_id">Network ID:</label>
  <input type="text" class="form-control" id="network_id" ng-model="dataModel.network_id">
</div>
<div class="form-group">
	<label for="update_rate">Update Rate:</label>
	<select name="singleSelect2" id="singleSelect2" ng-model="dataModel.update_rate">
		<option value="">---Please select---</option>
		<option ng-repeat="option in lists.update_rate_options" value="{{option}}">{{option}}</option>
	</select>
</div>
<div class="device-select">
	<div class="form-group">
		<label for="update_rate">Device Type :</label>
		<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.device_type_name" ng-click="reset_device_type()">
			<option value="">---Please select---</option>
		    <option ng-repeat="option in lists.device_types" value="{{option}}">{{option}}</option>
		</select>
		<select name="singleSelect" id="singleSelect" ng-model="dataModel.device_type">
			<option value="">---Please select---</option>
		    <option ng-repeat="option in lists.device_sub_types[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
		</select>
	</div>
</div>

<span ng-if="dataModel.polling_info.device_type_name && dataModel.device_type">
	<div class="var_list_container">
		<h2> <b>Var List</b> </h2>
		<b>PV</b> <checkbox largest ng-model="dataModel.polling_info.PV.active" name="custom-name" ng-change="onChange()" class="btn-default"></checkbox>
		<b>SV</b> <checkbox largest ng-model="dataModel.polling_info.SV.active" name="custom-name" ng-change="onChange()" class="btn-default"></checkbox>
		<b>TV</b> <checkbox largest ng-model="dataModel.polling_info.TV.active" name="custom-name" ng-change="onChange()" class="btn-default"></checkbox>
		<b>QV</b> <checkbox largest ng-model="dataModel.polling_info.QV.active" name="custom-name" ng-change="onChange()" class="btn-default"></checkbox>
		<span ng-if="dataModel.polling_info.device_type_name == 'Vibration' || dataModel.polling_info.device_type_name == 'Temp'">
			<b>DV</b> <checkbox largest ng-model="dataModel.polling_info.DV.active" name="custom-name" ng-change="onChange()" class="btn-default"></checkbox>
		</span>
	</div>
	
	<div class="single_var_element" id="PV-section" ng-if="dataModel.polling_info.PV.active">
		<h2><b>PV</b></h2>
		<!--<div class="small-input float-left">
			<label for="dv_num">dv_num:</label>
			<input type="text" class="form-control" id="dv_num" ng-model="dataModel.polling_info.PV.dv_num">
		</div>-->
	
		<div class="small-input float-left">
			<label for="dv_unit">dv_unit:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.PV.dv_unit">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.units[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_value">dv_value:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.PV.dv_value" ng-click="onChange()">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_value_list[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_status">dv_status:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.PV.dv_status" ng-init="dataModel.polling_info.PV.dv_status">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_status_list" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</div>
	
	<div class="single_var_element" id="SV-section" ng-if="dataModel.polling_info.SV.active">
		<h2><b>SV</b></h2>
		<!--<div class="small-input float-left">
			<label for="dv_num">dv_num:</label>
			<input type="text" class="form-control" id="dv_num" ng-model="dataModel.polling_info.SV.dv_num">
		</div>-->
	
		<div class="small-input float-left">
			<label for="dv_unit">dv_unit:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.SV.dv_unit">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.units[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_value">dv_value:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.SV.dv_value" ng-click="onChange()">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_value_list[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_status">dv_status:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.SV.dv_status">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_status_list" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</div>
	
	<div class="single_var_element" id="TV-section" ng-if="dataModel.polling_info.TV.active">
		<h2><b>TV</b></h2>
		<!--<div class="small-input float-left">
			<label for="dv_num">dv_num:</label>
			<input type="text" class="form-control" id="dv_num" ng-model="dataModel.polling_info.TV.dv_num">
		</div>-->
	
		<div class="small-input float-left">
			<label for="dv_unit">dv_unit:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.TV.dv_unit">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.units[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_value">dv_value:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.TV.dv_value" ng-click="onChange()">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_value_list[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_status">dv_status:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.TV.dv_status">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_status_list" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</div>
	
	<div class="single_var_element" id="QV-section" ng-if="dataModel.polling_info.QV.active">
		<h2><b>QV</b></h2>
		<!--<div class="small-input float-left">
			<label for="dv_num">dv_num:</label>
			<input type="text" class="form-control" id="dv_num" ng-model="dataModel.polling_info.QV.dv_num">
		</div>-->
	
		<div class="small-input float-left">
			<label for="dv_unit">dv_unit:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.QV.dv_unit">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.units[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_value">dv_value:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.QV.dv_value" ng-click="onChange()">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_value_list[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_status">dv_status:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.QV.dv_status">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_status_list" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</div>
	
	<div class="single_var_element" id="DV-section" ng-if="dataModel.polling_info.DV.active">
		<h2><b>DV</b></h2>
		<!--<div class="small-input float-left">
			<label for="dv_num">dv_num:</label>
			<input type="text" class="form-control" id="dv_num" ng-model="dataModel.polling_info.DV.dv_num">
		</div>-->
	
		<div class="small-input float-left">
			<label for="dv_unit">dv_unit:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.DV.dv_unit">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.units[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_value">dv_value:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.DV.dv_value" ng-click="onChange()">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_value_list[dataModel.polling_info.device_type_name]" value="{{option}}">{{option}}</option>
			</select>
		</div>
	
		<div class="small-input float-left">
			<label for="dv_status">dv_status:</label>
			<select name="singleSelect" id="singleSelect" ng-model="dataModel.polling_info.DV.dv_status">
				<option value="">---Please select---</option>
				<option ng-repeat="option in lists.variable_status_list" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</div>
	
</span>

<div class="alert-box">
	<div class="alert alert-success alert-dismissable" ng-if="alert.type=='success'">
	  <a ng-href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>{{alert.message.strong}}</strong> {{alert.message.text}}
	</div>
	<div class="alert alert-warning alert-dismissable" ng-if="alert.type=='warning'">
	  <a ng-href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>{{alert.message.strong}}</strong> {{alert.message.text}}
	</div>
	<div class="alert alert-danger alert-dismissable" ng-if="alert.type=='failed'">
	  <a ng-href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>{{alert.message.strong}}</strong> {{alert.message.text}}
	</div>
</div>

<div class="device-list-header">
	<button type="button" class="btn btn-success add-button" ng-click="createDeviceInInternalServer()"><b>Save +</b></button>
</div>
